<body>
    <h2 class="text-center">Zde můžete vybrat EVA koberce pro Váše auto</h2>
        <ul>
            <a href="/categories/1/"><img src="/media/cars_logo/alfa_romeo.jpg" width="64" alt=""> </a>
            <a href="/categories/2/"><img src="/media/cars_logo/audi.jpg" width="64" alt=""> </a>
            <a href="/categories/3/"><img src="/media/cars_logo/bmw.jpg" width="64" alt=""> </a>
            <a href="/categories/4/"><img src="/media/cars_logo/chery.jpg" width="64" alt=""></a>
            <a href="/categories/5/"><img src="/media/cars_logo/chevrolet.jpg" width="64" alt=""> </a>
            <a href="/categories/6/"><img src="/media/cars_logo/chrysler.jpg" width="64" alt=""></a>
            <a href="/categories/7/"><img src="/media/cars_logo/citroen.png" width="64" alt=""> </a>
            <a href="/categories/8/"><img src="/media/cars_logo/daewoo.png" width="64" alt=""></a>
            <a href="/categories/9/"><img src="/media/cars_logo/datsun.jpg" width="64" alt=""></a>
            <a href="/categories/10/"><img src="/media/cars_logo/dodge.png" width="64" alt=""></a>
            <a href="/categories/11/"><img src="/media/cars_logo/ford.jpg" width="64" alt=""> </a>
            <a href="/categories/12/"><img src="/media/cars_logo/honda.png" width="64" alt=""> </a>
            <a href="/categories/13/"><img src="/media/cars_logo/hyundai.jpg" width="64" alt=""> </a>
            <a href="/categories/14/"><img src="/media/cars_logo/infiniti.jpg" width="64" alt=""></a>
            <a href="/categories/15/"><img src="/media/cars_logo/jaguar.jpg" width="64" alt=""></a>
            <a href="/categories/16/"><img src="/media/cars_logo/jeep.png" width="64" alt=""> </a>
            <a href="/categories/17/"><img src="/media/cars_logo/land_rover.jpg" width="64" alt=""></a>
            <a href="/categories/17/"><img src="/media/cars_logo/kia.jpg" width="64" alt=""></a>
            <a href="/categories/13/"><img src="/media/cars_logo/lexus.png" width="64" alt=""> </a>
            <a href="/categories/13/"><img src="/media/cars_logo/lifan.jpg" width="64" alt=""></a>
            <a href="/categories/13/"><img src="/media/cars_logo/mazda.jpg" width="64" alt=""> </a>
            <a href="/categories/13/"><img src="/media/cars_logo/mercedes.jpg" width="64" alt=""> </a>
            <a href="/categories/13/"><img src="/media/cars_logo/mini.jpg" width="64" alt=""></a>
            <a href="/categories/13/"><img src="/media/cars_logo/mitsubishi.jpg" width="64" alt=""> </a>
            <a href="/categories/13/"><img src="/media/cars_logo/nissan.png" width="64" alt=""> </a>
            <a href="/categories/13/"><img src="/media/cars_logo/opel.jpg" width="64" alt=""> </a>
            <a href="/categories/13/"><img src="/media/cars_logo/peugeot_2.jpg" width="64" alt=""> </a>
            <a href="/categories/13/"><img src="/media/cars_logo/porsche.png" width="64" alt=""> </a>
            <a href="/categories/13/"><img src="/media/cars_logo/renault.jpg" width="64" alt=""> </a>
            <a href="/categories/13/"><img src="/media/cars_logo/seat.jpg" width="64" alt=""> </a>
            <a href="/categories/13/"><img src="/media/cars_logo/skoda_2.png" width="64" alt=""> </a>
            <a href="/categories/13/"><img src="/media/cars_logo/smart.jpg" width="64" alt=""> </a>
            <a href="/categories/13/"><img src="/media/cars_logo/ssangYong.jpg" width="64" alt=""></a>
            <a href="/categories/13/"><img src="/media/cars_logo/subaru.jpg" width="64" alt=""> </a>
            <a href="/categories/13/"><img src="/media/cars_logo/tatra.png" width="64" alt=""></a>
            <a href="/categories/13/"><img src="/media/cars_logo/tesla.png" width="64" alt=""> </a>
            <a href="/categories/13/"><img src="/media/cars_logo/toyota.png" width="64" alt=""> </a>
            <a href="/categories/13/"><img src="/media/cars_logo/volvo.jpg" width="64" alt=""> </a>
            <a href="/categories/13/"><img src="/media/cars_logo/vw.png" width="64" alt=""> </a>
        </ul>
</body>