<body>
    <h2 class="text-center">Zde můžete vybrat EVA koberce pro Váše auto</h2>
        <ul>
            <a href="/categories/1/"><img src="/media/cars_logo/alfa_romeo.jpg" alt=""> </a>
            <a href="/categories/2/"><img src="/media/cars_logo/audi.jpg" alt=""> </a>
            <a href="/categories/3/"><img src="/media/cars_logo/bmw.jpg" alt=""> </a>
<!--            <a href="/categories/4/"><img src="" alt="">Chery</a>-->
            <a href="/categories/5/"><img src="/media/cars_logo/chevrolet.jpg" alt=""> </a>
<!--            <a href="/categories/6/"><img src="" alt="">Chrysler</a>-->
            <a href="/categories/7/"><img src="/media/cars_logo/citroen.png" alt=""> </a>
<!--            <a href="/categories/8/"><img src="" alt="">Daewoo</a>-->
<!--            <a href="/categories/9/"><img src="" alt="">Datsun</a>-->
<!--            <a href="/categories/10/"><img src="" alt="">Dodge</a>-->
<!--            <a href="/categories/11/"><img src="/media/cars_logo/ford.jpg" alt=""> </a>-->
            <a href="/categories/12/"><img src="/media/cars_logo/honda.png" alt=""> </a>
            <a href="/categories/13/"><img src="/media/cars_logo/hyundai.jpg" alt=""> </a>
<!--            <a href="/categories/14/"><img src="" alt="">Infiniti</a>-->
<!--            <a href="/categories/15/"><img src="" alt="">Jaguar</a>-->
            <a href="/categories/16/"><img src="/media/cars_logo/jeep.png" alt=""> </a>
<!--            <a href="/categories/17/"><img src="" alt="">Land Rover</a>-->
<!--            <a href="/categories/17/"><img src="" alt="">KIAr</a>-->
            <a href="/categories/13/"><img src="/media/cars_logo/lexus.png" alt=""> </a>
<!--            <a href="/categories/13/"><img src="" alt="">Lifan</a>-->
            <a href="/categories/13/"><img src="/media/cars_logo/mazda.jpg" alt=""> </a>
            <a href="/categories/13/"><img src="/media/cars_logo/mercedes.jpg" alt=""> </a>
<!--            <a href="/categories/13/"><img src="" alt="">Mini</a>-->
            <a href="/categories/13/"><img src="/media/cars_logo/mitsubishi.jpg" alt=""> </a>
            <a href="/categories/13/"><img src="/media/cars_logo/nissan.png" alt=""> </a>
            <a href="/categories/13/"><img src="/media/cars_logo/opel.jpg" alt=""> </a>
            <a href="/categories/13/"><img src="/media/cars_logo/peugeot.jpg" alt=""> </a>
            <a href="/categories/13/"><img src="/media/cars_logo/porsche.png" alt=""> </a>
            <a href="/categories/13/"><img src="/media/cars_logo/renault.jpg" alt=""> </a>
            <a href="/categories/13/"><img src="/media/cars_logo/seat.jpg" alt=""> </a>
            <a href="/categories/13/"><img src="/media/cars_logo/skoda_2.png" alt=""> </a>
            <a href="/categories/13/"><img src="/media/cars_logo/smart.jpg" alt=""> </a>
<!--            <a href="/categories/13/"><img src="" alt="">Ssanyong</a>-->
            <a href="/categories/13/"><img src="/media/cars_logo/subaru.jpg" alt=""> </a>
<!--            <a href="/categories/13/"><img src="/media/cars_logo/suzuki.jpg" alt="">Tatra</a>-->
            <a href="/categories/13/"><img src="/media/cars_logo/tesla.png" alt=""> </a>
            <a href="/categories/13/"><img src="/media/cars_logo/toyota.png" alt=""> </a>
            <a href="/categories/13/"><img src="/media/cars_logo/volvo.jpg" alt=""> </a>
            <a href="/categories/13/"><img src="/media/cars_logo/vw.png" alt=""> </a>
        </ul>
</body>