{% extends "base.html" %}

{% block content %}
<h1>{{ carmat.name }}</h1>
<div class="carmat-details">
    <div class="carmat-model_name">
        <strong>Model auta:</strong>
    </div>

    <div class="carmat-short_description">
        <strong>Popis:</strong> {{ carmat.description }}
    </div>

    <div class="carmat-quantity">
        <strong>Množství:</strong> {{ carmat.quantity }}
    </div>

    <div class="carmat-price">
        <strong>Cena:</strong> {{ carmat.price }}
    </div>

</div>
{% endblock %}