<head>
    <title>Корзина</title>
</head>
<body>
    <h1>Ваша Корзина</h1>
    {% if cart and cart.items.exists %}
        <ul>
            {% for item in cart.items.all %}
                <li>{{ item.product.name }} - {{ item.quantity }} x {{ item.product.price }} = {{ item.total_price }}</li>
            {% endfor %}
        </ul>
        <p>Итого: {{ cart.total_price }}</p>
        <a href="{% url 'create_order' %}">Перейти к оформлению заказа</a>
    {% else %}
        <p>Ваша корзина пуста.</p>
    {% endif %}
</body>