{% extends "base.html" %}

{% block content %}
<h1>Vítejte v internetovém obchodě EVA koberce.</h1>

<!-- Display products -->
{% for product in products %}
    <h2>{{ product.name }}</h2>
    <p>{{ product.description }}</p>
    <p>Price: {{ product.price }}</p>
    <a href="{% url 'product_detail' product.id %}">View Product</a>
{% endfor %}

<!-- Display Cart -->
{% if cart %}
    <h2>Your Cart</h2>
    <ul>
        {% for item in cart.cartitem_set.all %}
            <li>{{ item.product.name }} - {{ item.quantity }} pcs - {{ item.product.price }} each</li>
        {% endfor %}
        <li>Total: {{ cart.total_price }}</li>
    </ul>
    <a href="{% url 'view_cart' %}">View Full Cart</a>
{% else %}
    <p>Your cart is empty.</p>
{% endif %}
{% endblock %}