{% extends "base.html" %}

{% block content %}
<head>
    <meta charset="UTF-8">
    <title>Products in {{ subcategory.name }}</title>
</head>
<body>
    <h2>EVA koberce pro {{ subcategory.name }}</h2>
    <p>Vyberte svůj model</p>
    </br>
        {% for product in products %}
            <a href="{% url 'product_detail' product.id %}"  class="btn btn-outline-danger"  role="button"  style="width: 300px;">{{ product.name }}</a>
            <img src="{{ product.image.url }}" width="" height="150px" alt="{{ product.name }}">
        {% endfor %}
    <br>
    <a href="{% url 'subcategory_list' subcategory.category.id %}">Back to subcategories</a>
</body>
</html>
{% endblock %}