<!--<div class="container">-->
<!--&lt;!&ndash;    <p style="text-align: center; color: #D80032; font-size: 36px; background:#edf2f4"><strong>Hlavní vlastnosti autokoberců EVA</strong></p>&ndash;&gt;-->
<!--    <a href="" class="slider">-->
<!--        <img src="/media/slider/banner_L1.jpeg" alt="" width="1000px">-->
<!--&lt;!&ndash;    </a>&ndash;&gt;-->
<!--</div>-->
<div class="image-container">
<!--        <img src="/media/slider/banner_L1.jpeg" alt="" width="1100px">-->
        <p style="text-align: center; color: #ef233c; font-size: 48px; background-image: url(/media/slider/banner_L1.jpeg)"></br><strong>Inovativní materiály </br> Nový vzhled interiéru</strong></br> ● ● ●</p>
</div>