{% extends "base.html" %}

{% block content %}
    <body>
        <h2>Vaše objednávka je potvrzena!</h2>
        <div>
            {% if order %}
                <p><strong>Order ID:</strong> {{ order.order_id }}</p>
                <p><strong>Customer Name:</strong> {{ order.customer_name }}</p>
                <p><strong>Customer Email:</strong> {{ order.customer_email }}</p>
                <p><strong>Customer Phone:</strong> {{ order.customer_phone }}</p>
                <p><strong>Total Amount:</strong> {{ order.total_amount }}</p>

                <h2>Položky objednávky:</h2>
                <p><strong>Item:</strong> {{ product.name }}</p>

<!--                <ul>-->
<!--                    {% for item in order.order_items.all %}-->
<!--                        <li>{{ item.product.name }} - {{ item.quantity }} x {{ item.price }} - Mat Color: {{ item.mat_color }} - Trim Color: {{ item.trim_color }}</li>-->
<!--                    {% empty %}-->
<!--                        <li>No items in order.</li>-->
<!--                    {% endfor %}-->
<!--                </ul>-->
            {% else %}
                <p>No order found.</p>
            {% endif %}
        </div>
    </body>
{% endblock %}