<footer>
<!--    <div class="container" style="background-color:#2b2d42">-->
<!--        <p style="text-align: left; color:white; background:#2b2d42;">Kontaktní informace</p>-->
<!--            <a href="/" class="logo">-->
<!--                <img src="/media/contact_info.png" alt="Kontakt" width="40px"> Telefon: </br>+420 777 777 777-->
<!--            </a>-->
<!--        </br>-->

<!--    </div>-->
    <div class="container">
        <p style="text-align: justify; color:#ef233c; background:#8d99ae;">
        <a href="/" class="logo">
            <img src="/media/logo_main.png" alt="" width="150px">
        </a>
        <a href="#" class="copyright">
            <img src="/media/copyright.png" alt="" width="20px"> Copyright 2024 - EVA koberce
        </a>
        <a href="#" class="payment">
            <img src="/media/payment.png" alt="Payment" width="380px">
        </a>
        </br>
        </p>
    </div>
    <body>
    <div class="container">
        <p style="text-align: left; color:white; background:#2b2d42;">Follow us on social media</p>
        <a href="#" class="social-icon">
            <img src="/media/facebook_icon.png" alt="Facebook" width="30px">
        </a>
        <a href="#" class="social-icon">
            <img src="/media/instagram_icon.png" alt="Instagram" width="30px">
        </a>

    </div>
    </body>
</footer>