<!-- footer.html -->
<!DOCTYPE html>
{% load static %}
<html>
<head>
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
</head>
<body>
    <footer class="footer-bg">
        <div class="footer-container">
            <a href="/" class="logo">
                <img src="/media/logo_main.png" alt="" width="150px">
            </a>
            <a href="#" class="copyright">
                <img src="/media/copyright.png" alt="" width="20px"> Copyright 2024 - EVA koberce
            </a>
            <a href="#" class="payment">
                <img src="/media/payment.png" alt="Payment" width="380px">
            </a>
            <a href="#" class="social-icon">
                <img src="/media/facebook_icon.png" alt="Facebook" width="30px">
            </a>
            <a href="#" class="social-icon">
                <img src="/media/instagram_icon.png" alt="Instagram" width="30px">
            </a>
        </div>
    </footer>
</body>
</html>