<nav class="navbar navbar-expand-lg navbar-dark">
    <div class="container navbar-container fixed">
        <a class="navbar-brand" href="/">Autokoberce EVA</a>
        <button
            class="navbar-toggler" type="button"
            data-toggle="collapse" data-target="#navbarNavAltMarkup"
        >
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-item nav-link active" href="{% url 'home' %}">Domů</a>
                <a class="nav-item nav-link active" href="{% url 'category_list' %}">Autokoberce</a>
                <a class="nav-item nav-link active" href="{% url 'kontakt' %}">Kontakt</a>
            </div>
        </div>
        <div class="navbar-nav ml-auto">
            <div class="nav-item dropdown">
                {% if user.is_authenticated %}
                    <a class="nav-link active dropdown-toggle" href="#" data-toggle="dropdown">
                        {{ user.username }}
                    </a>
                    <div class="dropdown-menu dropdown-menu-right">
                        <a class="dropdown-item text-right" href="{% url 'logout' %}">Odhlásit</a>
                        <a class="dropdown-item text-right" href="{% url 'password_change' %}">Změnit heslo</a>
                        <a class="dropdown-item text-right" href="{% url 'password_reset' %}">Resetovat heslo</a>
                    </div>
                {% else %}
                    <a class="nav-link active dropdown-toggle" href="#" data-toggle="dropdown">
                        Nepřihlášený uživatel.
                    </a>
                    <div class="dropdown-menu dropdown-menu-right">
                        <a class="dropdown-item text-right" href="{% url 'login' %}">Přihlásit</a>
                        <a class="dropdown-item text-right" href="{% url 'signup' %}">Registrovat</a>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
</nav>